# ignore an entire directory
/.idea/
/mediabourse/__pycache__/
/bourseapp/__pycache__/
/bourse/__pycache__/
/user_panel/__pycache__/
/staff_panel/__pycache__/
/trader_demo/__pycache__/
/__pycache__/
/bourse/migrations/
/bourseapp/migrations/
/static/
/.venv/*
/.venv
/venv/
/venv-old/
.venv
db.sqlite3
media/
.idea
.idea/*
mediabourse/db.sqlite3
bourse/migrations/*
trader_demo/migrations/*
mediabourse/Bourse/__pycache__
mediabourse/Bourse/__pycache__/*
mediabourse/mediabourse/__pycache__/
mediabourse/bourse/rest_api/__pycache__/
mediabourse/mediabourse/__pycache__/*
mediabourse/bourse/rest_api/__pycache__/*
*.json
/mediabourse/settings.py
