# ignore an entire directory   
/.idea/
/bourseapp/__pycache__/
/bourse/__pycache__/
/bourseapp/migrations/
/.venv/*
/.venv
/venv/
.venv
db.sqlite3
.idea
.idea/*
mediabourse/db.sqlite3
mediabourse/bourse/migrations/*
mediabourse/trader_demo/migrations/*
mediabourse/Bourse/__pycache__
mediabourse/Bourse/__pycache__/*
mediabourse/mediabourse/__pycache__/
mediabourse/bourse/rest_api/__pycache__/
mediabourse/mediabourse/__pycache__/*
mediabourse/bourse/rest_api/__pycache__/*
